:root {
    --background-color: #ffffff;
    --header-footer-color: #f1f1f1;
    --main-color: #eaeaea;
    --bold-text-color: #000000;
    --normal-text-color: #333333;
    --input-color: #ffffff;
    --active-input-color: #f0f0f0;
    --first-color: #00ddc0;
    --second-color: rgb(142, 0, 185);
    --third-color: rgb(255, 0, 76);
    --fourth-color: rgb(0, 255, 115);
    --fifth-color : rgb(251, 255, 0);
    --sixth-color : rgb(57, 0, 189);
}

body {
    width: 100%;
    margin: 0px;
    padding: 0px;
}


#report  {
    width: 297mm;
    height: 210mm;
    padding: 0px;
    background-color: var(--background-color);
    border: 2px solid var(--bold-text-color);
    font-family: Arial, sans-serif;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
  }




  